<div class="primeng-datatable">
    <p-table #dashboardabsentemptable [value]="dashboardAbsentEmployeeList" [paginator]="true" [rows]="10"
        [showCurrentPageReport]="true" styleClass="ui-table-primedatatable" [rowHover]="true"
        [rowsPerPageOptions]="[10,25,50]" [filterDelay]="0"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [scrollable]="true"
        scrollHeight="auto"
        [globalFilterFields]="['userName','phoneNo','email','reason','status','createdBy','modifiedBy']">
        <!-- Top bar -->
        <ng-template pTemplate="caption">
            <div class="ui-helper-clearfix" style="text-align: left">
                <!-- globle search -->
                <input  type="text" class="globalSearchTxt"
                    (input)="dashboardabsentemptable.filterGlobal($event.target.value, 'contains')"
                    placeholder="Search" />
            </div>
        </ng-template>
        <!-- Table Header -->
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="userName" style="width: 10em;">Employee
                    <p-sortIcon field="userName"></p-sortIcon>
                </th>
                <th pSortableColumn="phoneNo" style="width: 10em;">Phone Number
                    <p-sortIcon field="phoneNo"></p-sortIcon>
                </th>
                <th pSortableColumn="email" style="width: 12em;">Email
                    <p-sortIcon field="email"></p-sortIcon>
                </th>
                <th pSortableColumn="reason" style="width: 8em;">Reason
                    <p-sortIcon field="reason"></p-sortIcon>
                </th>
                <th pSortableColumn="status" style="width: 6em;">Status
                    <p-sortIcon field="status"></p-sortIcon>
                </th>
                <th pSortableColumn="createdBy" style="width: 9em;">Created By
                    <p-sortIcon field="createdBy"></p-sortIcon>
                </th>
                <th pSortableColumn="modifiedBy" style="width: 9em;">Modified By
                    <p-sortIcon field="modifiedBy"></p-sortIcon>
                </th>
            </tr>
        </ng-template>
        <!-- Table row -->
        <ng-template pTemplate="body" let-absentEmployeeListfordashboard>
            <tr>
                <td style="width: 10em;text-align: left;padding-left: 8px !important;">{{absentEmployeeListfordashboard.userName}}</td>
                <td style="width: 10em;">{{absentEmployeeListfordashboard.phoneNo}}</td>
                <td style="width: 12em;text-align: left;padding-left: 8px !important;">{{absentEmployeeListfordashboard.email}}</td>
                <td style="width: 8em;">{{absentEmployeeListfordashboard.reason}}</td>
                <td style="width: 6em;">
                    <span [class]="'datatable-badge status-' + absentEmployeeListfordashboard.status">
                        {{absentEmployeeListfordashboard.status}}
                    </span>
                </td>
                <td style="width: 9em;text-align: left;padding-left: 8px !important;">{{absentEmployeeListfordashboard.createdBy}}</td>
                <td style="width: 9em;text-align: left;padding-left: 8px !important;">{{absentEmployeeListfordashboard.modifiedBy}}</td>
            </tr>
        </ng-template>
        <!-- No records found -->
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="7" style="text-align:center">No records found.</td>
            </tr>
        </ng-template>
    </p-table>
</div>