<div class="card card-accent-primary tableBottom primeng-datatable" *ngIf='modulePermission?.allowed === true'>
    <p-table #designationTable [value]="designationData" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
        styleClass="ui-table-primedatatable" [rowHover]="true" [rowsPerPageOptions]="[10,25,50]" [filterDelay]="0"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [(selection)]="selectedEmpDesignationForCheckBox" [scrollable]="true" scrollHeight="auto"
        (sortFunction)="customSortForDesignationTable($event)" [customSort]="true"
        [globalFilterFields]="['designation','fromDate','toDate','isActive','createdby','modifiedBy']">
        <!-- Top bar -->
        <ng-template pTemplate="caption">
            <div class="ui-helper-clearfix" style="text-align: left">
                <!-- Add new designation -->
                <button type="button" class="btn btn-sm btn-primary mr-2" (click)="openAddEditDialog()"
                    *ngIf='dynamicButtonsobj.Add'>
                    <i class="fa fa-plus"></i>&nbsp;ADD
                </button>
                <!-- Delete multiple -->
                <button type="button" class="btn btn-sm btn-danger"
                    (click)="showConfirmForDeleteEmpDesignation(selectedEmpDesignationForCheckBox)"
                    *ngIf='dynamicButtonsobj.MultipleDelete'>
                    <i class="fa fa-times"></i>&nbsp;DELETE
                </button>
                <!-- globle search -->
                <input type="text" class="globalSearchTxt"
                    (input)="designationTable.filterGlobal($event.target.value, 'contains')" placeholder="Search" />
            </div>
        </ng-template>
        <!-- Table Header -->
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 2em" *ngIf='dynamicButtonsobj.MultipleDelete'>
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th style="width: 5em;" *ngIf='(dynamicButtonsobj.Edit
                || dynamicButtonsobj.SingleDelete) ? true : false'>Action</th>
                <th pSortableColumn="designation" style="width: 8em">Designation
                    <p-sortIcon field="designation"></p-sortIcon>
                </th>
                <th pSortableColumn="fromDate" style="width: 8em">From Date
                    <p-sortIcon field="fromDate">
                    </p-sortIcon>
                </th>
                <th pSortableColumn="toDate" style="width: 8em">To Date
                    <p-sortIcon field="toDate"></p-sortIcon>
                </th>
                <th pSortableColumn="isActive" style="width: 6em">Status
                    <p-sortIcon field="isActive"></p-sortIcon>
                </th>
                <th pSortableColumn="createdBy" style="width: 9em">Created By
                    <p-sortIcon field="createdBy"></p-sortIcon>
                </th>
                <th pSortableColumn="modifiedBy" style="width: 9em">Modified By
                    <p-sortIcon field="modifiedBy"></p-sortIcon>
                </th>
            </tr>
        </ng-template>
        <!-- Table row -->
        <ng-template pTemplate="body" let-empDesignation>
            <tr>
                <td style="width: 2em" *ngIf='dynamicButtonsobj.MultipleDelete'>
                    <p-tableCheckbox [value]="empDesignation"></p-tableCheckbox>
                </td>
                <td style="width: 5em" *ngIf='(dynamicButtonsobj.Edit
                || dynamicButtonsobj.SingleDelete) ? true : false'>
                    <button type="button" class="btn btn-sm btn-primary mr-1" tooltip="Edit" placement="bottom"
                        (click)="openAddEditDialog(empDesignation)" *ngIf='dynamicButtonsobj.Edit'>
                        <i class="fa fa-edit"></i>
                    </button>
                    <button type="button" class="btn btn-sm btn-danger" tooltip="Delete" placement="bottom"
                        (click)="showConfirmForDeleteEmpDesignation(empDesignation.id)"
                        *ngIf='dynamicButtonsobj.SingleDelete'>
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                    </button>
                </td>
                <td style="width: 8em">{{empDesignation.designation}}</td>
                <td style="width: 8em">{{empDesignation.fromDate}}</td>
                <td style="width: 8em">{{empDesignation.toDate}}</td>
                <td style="width: 6em">
                    <span [class]="'datatable-badge status-' + empDesignation.isActive">
                        {{empDesignation.isActive}}
                    </span>
                </td>
                <td style="width: 9em;text-align: left;padding-left: 8px !important;">{{empDesignation.createdBy}}</td>
                <td style="width: 9em;text-align: left;padding-left: 8px !important;">{{empDesignation.modifiedBy}}</td>
            </tr>
        </ng-template>
        <!-- No records found -->
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="8" style="text-align:center">No records found.</td>
            </tr>
        </ng-template>
    </p-table>
</div>

<p-toast key="commonMsg" position="top-right" [autoZIndex]="false" [style]="{'z-index': 10001}"></p-toast>

<p-toast position="center" key="deleteDesignationkey" (onClose)="onReject()" [modal]="true" [autoZIndex]="false"
    [style]="{'z-index': 10001}">
    <ng-template let-message pTemplate="message">
        <div style="text-align: center">
            <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
            <h3>{{message.summary}}</h3>
            <p>{{message.detail}}</p>
        </div>
        <div class="ui-g ui-fluid">
            <div class="ui-g-6">
                <button type="button" pButton (click)="deleteDesignationDetails(message.data)" label="Yes"
                    class="ui-button-success"></button>
            </div>
            <div class="ui-g-6">
                <button type="button" pButton (click)="onReject()" label="No" class="ui-button-secondary"></button>
            </div>
        </div>
    </ng-template>
</p-toast>

<div *ngIf='isNeedToRenderUIModal'>
    <app-ui-modal [isNeedToRenderUIModal]='isNeedToRenderUIModal' [displayHeader]='displayHeader'
        [UIModalStyle]="{width: '35vw'}" (closeUIModalEvent)="closeUIModal()">
        <app-addeditdesignation [designationListObj]='designationListObj' [employeeId]='employeeId'
            (closeDesignationUIModalEvent)='closeUIModal($event)'>
        </app-addeditdesignation>
    </app-ui-modal>
</div>