<form [formGroup]="changePswdFrm" (ngSubmit)="onSubmitChangePswd()">
    <div class="form-group">
        <label>Old password<span class="asteriskRequiredColor">*</span> :</label>
        <input type="password" class="form-control" formControlName="userOldPassword"
            [ngModel]='changePswdObj.userOldPassword' name="userOldPassword" placeholder="Enter old password"
            [ngClass]="{ 'is-invalid': submitted && f.userOldPassword.errors }">
        <div *ngIf="submitted && f.userOldPassword.errors" class="validationErrorMsg">
            <div *ngIf="f.userOldPassword.errors.required">Old password is required.</div>
        </div>
    </div>
    <div class="form-group">
        <label>New password<span class="asteriskRequiredColor">*</span> :</label>
        <input type="password" class="form-control" formControlName="userPassword" [ngModel]='changePswdObj.userPassword'
            name="userPassword" placeholder="Enter new password"
            [ngClass]="{ 'is-invalid': submitted && f.userPassword.errors }" minlength="6" maxlength="15">
        <div *ngIf="submitted && f.userPassword.errors" class="validationErrorMsg">
            <div *ngIf="f.userPassword.errors.required">New password is required.</div>
            <div *ngIf="f.userPassword.errors?.minlength">Min length password is 6.</div>
            <div *ngIf="f.userPassword.errors?.maxLength">Max length password is 15.</div>
        </div>
    </div>
    <div class="form-group">
        <label>Confirm password<span class="asteriskRequiredColor">*</span> :</label>
        <input type="password" class="form-control" formControlName="userConfirmPassword"
            [ngModel]='changePswdObj.userConfirmPassword' name="userConfirmPassword" placeholder="Enter confirm password"
            [ngClass]="{ 'is-invalid': submitted && f.userConfirmPassword.errors }" minlength="6" maxlength='15'>
        <div *ngIf="submitted && f.userConfirmPassword.errors" class="validationErrorMsg">
            <div *ngIf="f.userConfirmPassword.errors.required">Confirm password is required.</div>
            <div *ngIf="f.userConfirmPassword.errors?.minlength">Min length of Confirm password is 6.</div>
            <div *ngIf="f.userConfirmPassword.errors?.maxLength">Max length Confirm password is 15.</div>
            <div *ngIf="f.userConfirmPassword.errors?.userConfirmPassword">New passsword and confirm password didn't
                match.
            </div>
        </div>
    </div>

    <div class="">
        <button *ngIf="!loading" type="submit" class="btn btn-sm btn-primary m-1">
            <span><i class="fa fa-dot-circle-o"></i>&nbsp;Save</span>
        </button>
        <button *ngIf="loading" class="btn btn-sm btn-primary m-1" color="primary" type="button" disabled>
            <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
            <span>Loading...</span>
        </button>
    </div>
</form>