<div class="row table-card-style">
    <div *ngIf="editUserForm" class="col-md-12">
        <div class="card">
            <form [formGroup]="editUserForm" (ngSubmit)="onSubmitEditUserForm()">
                <div class="card-header">
                    <i class="fa fa-edit"></i><strong>Edit</strong>&nbsp;<small>Profile</small>
                </div>
                <div class="card-body">
                    <div class="div">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="callout callout-info">
                                    <strong class="text-muted">Joining Date : </strong>
                                    {{userJoiningDate}}
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="callout callout-info">
                                    <strong class="text-muted">User Name : </strong>
                                    {{isUserName}}
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="callout callout-info">
                                    <strong class="text-muted">Designation : </strong>
                                    {{employeeDesignationName}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="mt-0" />
                    <div class="div">
                        <div class="form-group row">
                            <div class="col-sm-4">
                                <label>First Name<span class="asteriskRequiredColor">*</span> :</label>
                                <input type="text" formControlName="firstName" class="form-control"
                                    placeholder="Enter first name.."
                                    [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }"
                                    [ngModel]="fetchUserProfileData.firstName">
                                <div *ngIf="submitted && f.firstName.errors" class="validationErrorMsg">
                                    <div *ngIf="f.firstName.errors.required">First Name is required</div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <label>Middle Name<span class="asteriskRequiredColor">*</span> :</label>
                                <input type="text" formControlName="middleName" name="middleName" class="form-control"
                                    placeholder="Enter middle name.."
                                    [ngClass]="{ 'is-invalid': submitted && f.middleName.errors }"
                                    [ngModel]="fetchUserProfileData.middleName">
                                <div *ngIf="submitted && f.middleName.errors" class="validationErrorMsg">
                                    <div *ngIf="f.middleName.errors.required">Middle Name is required</div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <label>Last Name<span class="asteriskRequiredColor">*</span> :</label>
                                <input type="text" formControlName="lastName" name="lastName" class="form-control"
                                    placeholder="Enter last name.."
                                    [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }"
                                    [ngModel]="fetchUserProfileData.lastName">
                                <div *ngIf="submitted && f.lastName.errors" class="validationErrorMsg">
                                    <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-4">
                                <label>Birth Date<span class="asteriskRequiredColor">*</span> :</label>
                                <input type="text" class="form-control" placeholder="Enter Birth Date" bsDatepicker
                                    [ngModel]='fetchUserProfileData.tbirthDate' onkeydown="return false"
                                    formControlName="tbirthDate"
                                    [ngClass]="{ 'is-invalid': submitted && f.tbirthDate.errors }" [maxDate]='maxDate'
                                    [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', containerClass: 'theme-red',isAnimated: true , returnFocusToInput: true}" />
                                <div *ngIf="submitted && f.tbirthDate.errors" class="validationErrorMsg">
                                    <div *ngIf="f.tbirthDate.errors.required">Birth Date is required</div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <label>Company Email<span class="asteriskRequiredColor">*</span> :</label>
                                <input type="text" class="form-control" formControlName="companyEmail"
                                    [ngModel]='fetchUserProfileData.companyEmail' name="companyEmail"
                                    placeholder="Enter company email"
                                    [ngClass]="{ 'is-invalid': submitted && f.companyEmail.errors }">
                                <div *ngIf="submitted && f.companyEmail.errors" class="validationErrorMsg">
                                    <div *ngIf="f.companyEmail.errors.required">Company Email is required.</div>
                                    <div *ngIf="f.companyEmail.errors.email">Company email must be a valid email
                                        address.
                                    </div>
                                </div>

                            </div>
                            <div class="col-sm-4">
                                <label>Pan Number<span class="asteriskRequiredColor">*</span> :</label>
                                <input type="text" formControlName="panNumber" name="panNumber" class="form-control"
                                    placeholder="Enter Pan Number.."
                                    [ngClass]="{ 'is-invalid': submitted && f.panNumber.errors }"
                                    [ngModel]="fetchUserProfileData.panNumber" onpaste="return false"
                                    oninput="this.value = this.value.toUpperCase()" maxlength="10">
                                <div *ngIf="submitted && f.panNumber.errors" class="validationErrorMsg">
                                    <div *ngIf="f.panNumber.errors.required">PAN number is required.</div>
                                    <div *ngIf="f.panNumber.errors?.pattern">PAN number is invalid.</div>
                                    <div *ngIf="f.panNumber.errors?.minlength">Minimum 10 digits allowed.</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-4">
                                <label>Adhar Number<span class="asteriskRequiredColor">*</span> :</label>
                                <input type="text" formControlName="aadharNumber" name="aadharNumber"
                                    class="form-control" placeholder="Enter Adhar Number.."
                                    [ngClass]="{ 'is-invalid': submitted && f.aadharNumber.errors }"
                                    [ngModel]="fetchUserProfileData.aadharNumber" onpaste="return false" maxlength="12"
                                    (keypress)="onlyNumberKey($event)">
                                <div *ngIf="submitted && f.aadharNumber.errors" class="validationErrorMsg">
                                    <div *ngIf="f.aadharNumber.errors.required">Aadhar Number is required.</div>
                                    <div *ngIf="f.aadharNumber.errors?.minlength">
                                        Minimum 12 digits are allowed.
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <label>Password<span class="fontcolor">*</span> :</label>
                                <div class="input-group">
                                    <input [type]="isShowPassword ? 'text' : 'password'" id="passwordValue"
                                        #passwordValue placeholder="Enter password" class="subject-title form-control"
                                        formControlName="password"
                                        [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
                                        [ngModel]="fetchUserProfileData.password" minlength="6" maxlength="15">
                                    <div class="input-group-prepend passwordText">
                                        <span class="input-group-text">
                                            <i id='showPasswordicon'
                                                [class]="isShowPassword ? 'fa fa-eye-slash' : 'fa fa-eye'"
                                                (click)='isNeedToRenderPassword(passwordValue.value)'></i>
                                        </span>
                                    </div>

                                    <div *ngIf="submitted && f.password.errors" class="validationErrorMsg">
                                        <div *ngIf="f.password.errors.required">Password is required</div>
                                        <div *ngIf="f.password.errors?.minlength">Min length password is 6.</div>
                                        <div *ngIf="f.password.errors?.maxLength">Max length password is 15.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <label class="col-form-label" for="Gender">Gender: <span
                                        class="asteriskRequiredColor">*</span></label>
                                <div class="col-form-label" [ngClass]="{ 'is-invalid': submitted && f.gender.errors }">
                                    <div class="custom-control custom-radio custom-control-inline" id="gender">
                                        <input class="custom-control-input" type="radio" name="gender" id="inlineRadio1"
                                            [value]="1" formControlName="gender" checked
                                            [ngModel]="fetchUserProfileData.gender">
                                        <label class="custom-control-label" for="inlineRadio1">Male</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input class="custom-control-input" type="radio" name="gender" id="inlineRadio2"
                                            [value]="0" formControlName="gender"
                                            [ngModel]="fetchUserProfileData.gender">
                                        <label class="custom-control-label" for="inlineRadio2">Female</label>
                                    </div>
                                </div>
                                <div *ngIf="submitted && f.gender.errors" class="validationErrorMsg">
                                    <div *ngIf="f.gender.errors.required">Gender is required</div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-7 p-dropdownStyle">
                                <label>Security Question<span class="asteriskRequiredColor">*</span> :</label>
                                <p-dropdown formControlName="securityQuestion" [style]="{'width':'100%'}"
                                    [options]="securityQuestionTypes" [filter]="true" placeholder="Security Question"
                                    [ngModel]="fetchUserProfileData.securityQuestion ? fetchUserProfileData.securityQuestion : ''"
                                    [ngClass]="{ 'is-invalid': submitted && f.securityQuestion.errors }">
                                </p-dropdown>
                                <div *ngIf="submitted && f.securityQuestion.errors" class="validationErrorMsg">
                                    <div *ngIf="f.securityQuestion.errors.required">Security question is required</div>
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <label>Security Answer<span class="asteriskRequiredColor">*</span> :</label>
                                <input type="text" formControlName="securityAnswer" name="securityAnswer"
                                    class="form-control" placeholder="Enter Answer.."
                                    [ngClass]="{ 'is-invalid': submitted && f.securityAnswer.errors }"
                                    [ngModel]="fetchUserProfileData.securityAnswer">
                                <div *ngIf="submitted && f.securityAnswer.errors" class="validationErrorMsg">
                                    <div *ngIf="f.securityAnswer.errors.required">Security answer is required</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer" style="padding: 0.4rem !important;">
                    <button *ngIf="!loading" type="submit" class="btn btn-sm btn-primary m-1">
                        <span><i class="fa fa-dot-circle-o"></i>&nbsp;Save</span>
                    </button>
                    <button *ngIf="loading" class="btn btn-sm btn-primary m-1" color="primary" type="button" disabled>
                        <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                        <span>Loading...</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<p-toast key="commonMsg" position="top-right"  [autoZIndex]="false"   [style]="{'z-index': 10001}"></p-toast>