<div class="primeng-datatable">
    <p-table #employeeDashboardLeaveTable [value]="employeeLeaveData" [paginator]="true" [rows]="10"
        [showCurrentPageReport]="true" styleClass="ui-table-primedatatable" [rowHover]="true"
        [rowsPerPageOptions]="[10,25,50]" [filterDelay]="0"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [scrollable]="true"
        scrollHeight="auto" (sortFunction)="customSortForEmployeeDashboardLeavesTable($event)" [customSort]="true"
        [globalFilterFields]="['leaveStartDate','leaveEndDate','numberOfDays','leaveType','status','createdBy','modifiedBy']">
        <!-- Top bar -->
        <ng-template pTemplate="caption">
            <div class="ui-helper-clearfix" style="text-align: left">
                <!-- globle search -->
                <input pInputText type="text" class="globalSearchTxt"
                    (input)="employeeDashboardLeaveTable.filterGlobal($event.target.value, 'contains')"
                    placeholder="Search" />
            </div>
        </ng-template>
        <!-- Table Header -->
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="leaveStartDate" style="width: 8em;">Start Date
                    <p-sortIcon field="leaveStartDate"></p-sortIcon>
                </th>
                <th pSortableColumn="leaveEndDate" style="width: 8em;">End Date
                    <p-sortIcon field="leaveEndDate"></p-sortIcon>
                </th>
                <th pSortableColumn="numberOfDays" style="width: 5em;">Leaves
                    <p-sortIcon field="numberOfDays"></p-sortIcon>
                </th>
                <th pSortableColumn="displayNameForLeave" style="width: 5em;">Leaves For
                    <p-sortIcon field="displayNameForLeave"></p-sortIcon>
                </th>
                <th pSortableColumn="leaveType" style="width: 6em;">Leave Type
                    <p-sortIcon field="leaveType"></p-sortIcon>
                </th>
                <th pSortableColumn="status" style="width: 6em;">Status
                    <p-sortIcon field="status"></p-sortIcon>
                </th>
                <th pSortableColumn="createdBy" style="width: 9em;">Created By
                    <p-sortIcon field="createdBy"></p-sortIcon>
                </th>
                <th pSortableColumn="modifiedBy" style="width: 9em;">Modified By
                    <p-sortIcon field="modifiedBy"></p-sortIcon>
                </th>
            </tr>
        </ng-template>
        <!-- Table row -->
        <ng-template pTemplate="body" let-employeeLeave>
            <tr>
                <td style="width: 8em;">{{ employeeLeave.leaveStartDate }}</td>
                <td style="width: 8em;">{{ employeeLeave.leaveEndDate }}</td>
                <td style="width: 5em;">{{ employeeLeave.numberOfDays }} Day</td>
                <td style="width: 5em;">{{ employeeLeave.displayNameForLeave }}</td>
                <td style="width: 6em;">{{ employeeLeave.leaveType }}</td>
                <td style="width: 6em;">
                    <span [class]="'datatable-badge status-' + employeeLeave.status">
                        {{employeeLeave.status}}
                    </span>
                </td>
                <td style="width: 9em;text-align: left;padding-left: 8px !important;">{{employeeLeave.createdBy}}</td>
                <td style="width: 9em;text-align: left;padding-left: 8px !important;">{{employeeLeave.modifiedBy}}</td>
            </tr>
        </ng-template>
        <!-- No records found -->
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="7" style="text-align:center">No records found.</td>
            </tr>
        </ng-template>
    </p-table>
</div>