<form [formGroup]="addEditHolidayFrm" (ngSubmit)="onSubmitaddEditHolidayFrm()">
    <div class="row">
        <div class="form-group col-sm-6">
            <label>Title<span class="asteriskRequiredColor">*</span> :</label>
            <input type="text" class="form-control" formControlName="title" [ngModel]='holidaysObj.title' name="title"
                placeholder="Enter Title" [ngClass]="{ 'is-invalid': submitted && f.title.errors }">
            <div *ngIf="submitted && f.title.errors" class="validationErrorMsg">
                <div *ngIf="f.title.errors.required">Title is required.</div>
            </div>
        </div>
        <div class="form-group col-sm-6">
            <label>Date<span class="asteriskRequiredColor">*</span> :</label>
            <input type="text" class="form-control" placeholder="Select Date" bsDatepicker formControlName="tDate"
                [ngClass]="{ 'is-invalid': submitted && f.tDate.errors }" onkeydown="return false"
                [ngModel]="holidaysObj.tDate"
                [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', containerClass: 'theme-red' }" />
            <div *ngIf="submitted && f.tDate.errors" class="validationErrorMsg">
                <div *ngIf="f.tDate.errors.required">Date is required.</div>
                <div *ngIf="f.tDate.errors?.IsValidYear">Please select current year of date and month only.</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 p-dropdownStyle">
            <label>Status :</label>
            <p-dropdown formControlName="isActive" [style]="{'width':'100%'}" [options]="IsActiveTypes" [filter]="true"
                [ngModel]="holidaysObj.isActive ? holidaysObj.isActive : selectedIsActiveType"
                [ngClass]="{ 'is-invalid': submitted && f.isActive.errors }">
            </p-dropdown>
            <div *ngIf="submitted && f.isActive.errors" class="validationErrorMsg">
                <div *ngIf="f.isActive.errors.required">Status is required.</div>
            </div>
        </div>
        <div class="form-group col-md-6">
            <label>Description :</label>
            <textarea type="text" class="form-control textarea-size" formControlName="description"
                [ngModel]='holidaysObj.description' name="description" placeholder="Enter Description" rows="3"
                cols="3">
            </textarea>
        </div>
    </div>

    <div class="">
        <button *ngIf="!loading" type="submit" class="btn btn-sm btn-primary m-1">
            <span><i class="fa fa-dot-circle-o"></i>&nbsp;Save</span>
        </button>
        <button *ngIf="loading" class="btn btn-sm btn-primary m-1" color="primary" type="button" disabled>
            <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
            <span>Loading...</span>
        </button>
    </div>
</form>