<div *ngIf="isNeedToRenderAdminData">
    <div *ngIf='timesheetModulePermission?.allowed === true' class="row table-card-style">
        <div *ngIf="filterFrm" class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-clock-o"></i><strong>Timesheets</strong>&nbsp;<small>Details</small>
                    <div *ngIf='dynamicButtonsobj.Add' class="card-header-actions" style="height: 25px;">
                        <button type="button" class="btn btn-sm btn-primary" (click)="showAdminTimesheetDialog()"><i
                                class="fa fa-plus"></i>&nbsp;
                            Add
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="callout callout-info">
                                <form [formGroup]="filterFrm" class="form-inline">
                                    <div class="form-group">
                                        <strong class="text-muted mr-3">Filter By: </strong>
                                    </div>
                                    <div class="form-group p-dropdownStyle mr-3">
                                        <p-dropdown formControlName="Id" [options]="employeeList" [filter]="true"
                                            placeholder="Employee Name" [ngModel]="selectedEmployees"
                                            (onChange)="getAllTimeSheetList(selectedEmployees)">
                                        </p-dropdown>
                                    </div>
                                    <div class="form-group mr-3">
                                        <input type="text" size="25" class="form-control"
                                            placeholder="-- Select Date --" bsDaterangepicker formControlName="range"
                                            [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD', containerClass: 'theme-red' }"
                                            (ngModelChange)="getAllTimeSheetList($event)" onkeydown="return false" />
                                    </div>
                                    <div class="form-group">
                                        <button type="reset" class="btn btn-sm btn-danger" (click)="clearFilter()">
                                            <i class="fa fa-ban"></i> Reset
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="primeng-datatable">
                        <p-table #timesheetTable [value]="timeSheetList" [paginator]="true" [rows]="10"
                            [showCurrentPageReport]="true" styleClass="ui-table-primedatatable" [rowHover]="true"
                            [rowsPerPageOptions]="[10,25,50]" [filterDelay]="0"
                            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                            [(selection)]="selectedTimeSheetForCheckBox" [scrollable]="true" scrollHeight="auto"
                            (sortFunction)="customSortForTimeSheetTable($event)" [customSort]="true"
                            [globalFilterFields]="['fullName','projectName','date','task','isActive','createdBy','modifiedBy']">
                            <!-- Top bar -->
                            <ng-template pTemplate="caption">
                                <div class="ui-helper-clearfix" style="text-align: left">
                                    <!-- Export to excel -->
                                    <button type="button" class="btn btn-sm btn-success mr-2"
                                        (click)="exportExcelTimesheets(selectedTimeSheetForCheckBox)"
                                        *ngIf='dynamicButtonsobj.ExportToExcel'>
                                        <i class="fa fa-file-excel-o"></i>
                                        EXCEL
                                    </button>
                                    <!-- Delete multiple -->
                                    <button type="button" class="btn btn-sm btn-danger"
                                        (click)="showConfirmForDeleteTimesheets(selectedTimeSheetForCheckBox)"
                                        *ngIf='dynamicButtonsobj.MultipleDelete'>
                                        <i class="fa fa-times"></i>&nbsp;DELETE
                                    </button>
                                    <!-- globle search -->
                                    <input type="text" class="globalSearchTxt"
                                        (input)="timesheetTable.filterGlobal($event.target.value, 'contains')"
                                        placeholder="Search" />
                                </div>
                            </ng-template>
                            <!-- Table Header -->
                            <ng-template pTemplate="header">
                                <tr>
                                    <th style="width: 2em;"
                                        *ngIf='dynamicButtonsobj.ExportToExcel || dynamicButtonsobj.MultipleDelete'>
                                        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                                    </th>
                                    <th style="width:5em" *ngIf='(dynamicButtonsobj.Edit
                                    || dynamicButtonsobj.SingleDelete) ? true : false'>Action</th>
                                    <th pSortableColumn="fullName" style="width: 10em;">Employee
                                        <p-sortIcon field="fullName"></p-sortIcon>
                                    </th>
                                    <th pSortableColumn="projectName" style="width: 8em;">Project
                                        <p-sortIcon field="projectName"></p-sortIcon>
                                    </th>
                                    <th pSortableColumn="moduleName" style="width: 8em;">Module
                                        <p-sortIcon field="moduleName"></p-sortIcon>
                                    </th>
                                    <th pSortableColumn="date" style="width: 8em;">Date
                                        <p-sortIcon field="date"></p-sortIcon>
                                    </th>
                                    <th pSortableColumn="task" style="width: 8em;">Task
                                        <p-sortIcon field="task"></p-sortIcon>
                                    </th>
                                    <th style="width: 7em;">Billable Hours </th>
                                    <th style="width: 7em;">Non Billable Hours </th>
                                    <th style="width: 7em;">Total Hours </th>
                                    <th style="width: 6em;">Start Time </th>
                                    <th style="width: 6em;">Finish Time </th>
                                    <th style="width: 6em;">Total Time </th>
                                    <th pSortableColumn="isActive" style="width:6em">Status
                                        <p-sortIcon field="isActive"></p-sortIcon>
                                    </th>
                                    <th pSortableColumn="createdBy" style="width: 9em;">Created By
                                        <p-sortIcon field="createdBy"></p-sortIcon>
                                    </th>
                                    <th pSortableColumn="modifiedBy" style="width: 9em;">Modified By
                                        <p-sortIcon field="modifiedBy"></p-sortIcon>
                                    </th>
                                </tr>
                            </ng-template>
                            <!-- Table row -->
                            <ng-template pTemplate="body" let-timesheet>
                                <tr>
                                    <td style="width: 2em;"
                                        *ngIf='dynamicButtonsobj.ExportToExcel || dynamicButtonsobj.MultipleDelete'>
                                        <p-tableCheckbox [value]="timesheet"></p-tableCheckbox>
                                    </td>
                                    <td style="width:5em" *ngIf='(dynamicButtonsobj.Edit
                                    || dynamicButtonsobj.SingleDelete) ? true : false'>
                                        <button type="button" class="btn btn-sm btn-primary mr-1" tooltip="Edit"
                                            placement="bottom" (click)="showAdminTimesheetDialog(timesheet)"
                                            *ngIf='dynamicButtonsobj.Edit'>
                                            <i class="fa fa-edit"></i>
                                        </button>
                                        <button type="button" class="btn btn-sm btn-danger" tooltip="Delete"
                                            placement="bottom" (click)="showConfirmForDeleteTimesheets(timesheet.id)"
                                            *ngIf='dynamicButtonsobj.SingleDelete'>
                                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                                        </button>
                                    </td>
                                    <td style="width: 10em;padding-left: 8px !important;text-align: left;">
                                        {{timesheet.fullName}}</td>
                                    <td style="width: 8em;">
                                        {{timesheet.projectName}}</td>
                                    <td style="width: 8em;">
                                        {{timesheet.moduleName}}</td>
                                    <td style="width: 8em;">{{timesheet.date}}</td>
                                    <td style="width: 8em;">
                                        {{timesheet.task}}</td>
                                    <td style="width: 7em;">{{timesheet.billableHours}}</td>
                                    <td style="width: 7em;">{{timesheet.nonBillableHours}}</td>
                                    <td style="width: 7em;">{{timesheet.totalHours}}
                                    </td>
                                    <td style="width: 6em;">
                                        {{timesheet.startTime | date:"hh:mm a":"+0000"}}
                                    </td>
                                    <td style="width: 6em;">
                                        {{timesheet.finishTime | date:"hh:mm a":"+0000"}}
                                    </td>
                                    <td style="width: 6em;">{{timesheet.totalTime}}</td>
                                    <td style="width: 6em;">
                                        <span [class]="'datatable-badge status-' + timesheet.isActive">
                                            {{timesheet.isActive}}
                                        </span>
                                    </td>
                                    <td style="width: 9em;padding-left: 8px !important;text-align: left;">
                                        {{timesheet.createdBy}}</td>
                                    <td style="width: 9em;padding-left: 8px !important;text-align: left;">
                                        {{timesheet.modifiedBy}}</td>
                                </tr>
                            </ng-template>
                            <!-- No records found -->
                            <ng-template pTemplate="emptymessage">
                                <tr>
                                    <td colspan="12" style="text-align:center">No records found.</td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <p-toast key="commonMsg" position="top-right" [autoZIndex]="false" [style]="{'z-index': 10001}"></p-toast>

    <p-toast position="center" key="deleteTimesheetKey" (onClose)="onReject()" [modal]="true" [autoZIndex]="false"
        [style]="{'z-index': 10001}">
        <ng-template let-message pTemplate="message">
            <div style="text-align: center">
                <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
                <h3>{{message.summary}}</h3>
                <p>{{message.detail}}</p>
            </div>
            <div class="ui-g ui-fluid">
                <div class="ui-g-6">
                    <button type="button" pButton (click)="deleteTimeSheetDetails(message.data)" label="Yes"
                        class="ui-button-success"></button>
                </div>
                <div class="ui-g-6">
                    <button type="button" pButton (click)="onReject()" label="No" class="ui-button-secondary"></button>
                </div>
            </div>
        </ng-template>
    </p-toast>

    <div *ngIf='isNeedToRenderUIModal'>
        <app-ui-modal [isNeedToRenderUIModal]='isNeedToRenderUIModal' [displayHeader]='displayHeader'
            [UIModalStyle]="{width: '45vw'}" (closeUIModalEvent)="closeUIModal()">
            <app-addedittimesheet [timesheetListObj]="timesheetListObj"
                (closeTimesheetUIModalEvent)='closeUIModal($event)'>
            </app-addedittimesheet>
        </app-ui-modal>
    </div>
</div>

<div *ngIf="isNeedToRenderEmployeeData">
    <app-employee-timesheet-list></app-employee-timesheet-list>
</div>