<form [formGroup]="empAddEditEmailFrm" (ngSubmit)="onSubmitEmpAddEditEmailFrm()">
    <div class="form-group">
        <label>Email<span class="asteriskRequiredColor">*</span> :</label>
        <input type="text" class="form-control" formControlName="email" [ngModel]='employeeEmail.email' name="email"
            placeholder="Enter email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
        <div *ngIf="submitted && f.email.errors" class="validationErrorMsg">
            <div *ngIf="f.email.errors.required">Email is required.</div>
            <div *ngIf="f.email.errors.email">Email must be a valid email address.</div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-md-6 p-dropdownStyle">
                <label>Email Type :</label>
                <p-dropdown formControlName="typeId" [style]="{'width':'100%'}" [options]="EmailTypes" [filter]="true"
                    [ngModel]="employeeEmail.typeId ? employeeEmail.typeId : selectedEmailType"
                    [ngClass]="{ 'is-invalid': submitted && f.typeId.errors }" >
                </p-dropdown>
                <div *ngIf="submitted && f.typeId.errors" class="validationErrorMsg">
                    <div *ngIf="f.typeId.errors.required">Email Type is required.</div>
                </div>
            </div>
            <div class="col-md-6 p-dropdownStyle">
                <label>Status :</label>
                <p-dropdown formControlName="isActive" [style]="{'width':'100%'}" [options]="IsActiveTypes"
                    [filter]="true" [ngModel]="employeeEmail.isActive ? employeeEmail.isActive : selectedIsActiveType"
                    [ngClass]="{ 'is-invalid': submitted && f.isActive.errors }" >
                </p-dropdown>
                <div *ngIf="submitted && f.isActive.errors" class="validationErrorMsg">
                    <div *ngIf="f.isActive.errors.required">Status is required.</div>
                </div>
            </div>
        </div>
    </div>
    <div class="">
        <button *ngIf="!loading" type="submit" class="btn btn-sm btn-primary m-1">
            <span><i class="fa fa-dot-circle-o"></i>&nbsp;Save</span>
        </button>
        <button *ngIf="loading" class="btn btn-sm btn-primary m-1" color="primary" type="button" disabled>
            <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
            <span>Loading...</span>
        </button>
    </div>
</form>